.about {
    padding-top: 60px;
    
    background-image: url(../img/Rectangle.jpg);
    height: 450px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    &__title {
        max-width: 270px;
        font-size: 36px;
        line-height: 1.5;
        margin: 0 0 55px;
    }
    &__desc {
        max-width: 625px;
        font-size: 16px;
        line-height: 1.5;
        margin: 0 0 55px;
    }
    &__img {
        position: absolute;
        margin-left: 700px;
    }
    

    .button {
        text-transform: uppercase;
        border: 2px solid #2D5E5E;
        border-radius: 10px;
        padding: 8px 42px;
        white-space: nowrap;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        line-height: 1.33;
        gap: 20px;
    }
}