.btn {
    border: none;
    border-radius: 10px;
    background: #2D5E5E;
    padding: 6px 42px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.33;
    border: 3px solid transparent;

    &_bordered {
        border-color:#2D5E5E;
        background: transparent;
    }
    &:hover,
    &:focus {
        opacity: .7;
    }
    &:active {
        opacity: .4;
    }
}
.input {
    
}